<% provide :title, t(".title") %>
<% provide :btn_text, t(".btn_submit") %>
<div class="container">
  <div class="row">
    <div class="col-md-9 rounded bg-white px-3 p-3">
      <h1><%= t ".editing" %></h1>
      <%= render "form" %>
    </div>
  </div>
</div>
