// @import 'bootstrap-sprockets';
// @import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Give+You+Glory);
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: rgba(252, 251, 249, 0.68);
  font-size: 16px;
  color: #4d4f56;
  font-weight: 400;
  overflow-x: hidden;
}
/* ==========================
*   Typohraphy
============================*/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans Pro", sans-serif;
    color: #25282b;
}

a {
    color: #f30;
}

a:hover {
    text-decoration: none;
    color: #ef3b0e
}

.lead {
    font-size: 1.25rem;
    font-weight: 400;
    color: #404048;
}

ul {
    list-style-type: none;
    padding: 0;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #eaebeb;
}
/* ==========================
*   Header and navigation
============================*/

#header {
  width: 100%;
  border: 0;
  z-index: 99;
}

.nav-fixed {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar {
  background-image: url("assets/menu-bg.jpg");
  padding: .95rem 1rem;
  border-radius: 0;
}

#header .dropdown-menu:hover {
  color: #9c9da5;
}

.navbar-nav .nav-item {
  padding-left: 10px;
}

.navbar-dark .navbar-toggler {
  background-image: none;
  border-color: transparent;
}

@media (max-width: 62em) {
  .navbar-nav {
      padding-top: .425rem;
      padding-left: 0.75rem;
  }
  .navbar-nav .nav-item {
      float: none;
  }
  .navbar-brand {
      float: right;
  }
  .navbar-brand,
  .navbar-nav .nav-item {
      display: block;
  }
  .navbar-nav .nav-item + .nav-item {
      margin-left: 0;
  }
  .dropdown-menu {
      position: relative;
      float: none;
      background-color: transparent;
  }
  .dropdown-menu a {
      color: #fff
  }
}

.headroom--pinned {
  display: block;
}

.headroom--unpinned {
  display: none;
}

.navbar-fixed-top {
  position: fixed
}

.navbar-toggler {
  padding: 4px 0;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  color: #f30;
  border-radius: 2px;
}
/* ==========================
*  Footer
============================*/

footer {
  background: url(assets/pattern.png)center repeat;
  padding: 90px 0;
  z-index: 1;
  bottom:0;
  width: 100%;
}

.payment-options ul li {
  display: inline-block;
  margin-right: 8px;
}

footer h5 {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 15px;
}

.footer-logo-block img {
  display: block;
  margin-bottom: 15px;
}

footer p,
footer,
footer span {
  font-weight: 300;
  color: #9c9da5;
}

.address h5 a {
  color: #f30;
  font-size: 26px;
  font-family: "Give You Glory", cursive;
  margin-left: 20px;
  font-weight: 600;
}

.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

.popular-locations ul li {
  display: inline-block;
  width: 49%;
}

footer ul li {
  margin-bottom: 6px;
}

footer ul li a {
  color: #9c9da5;
  transition: all .3s;
}

.how-it-works-links {
  margin-bottom: 70px;
}

.address p {
  margin-bottom: 35px;
}

footer ul li a:hover {
  color: #f30;
}

footer li a {
  line-height: 20px;
  display: inline-block;
}

.payment-options ul {
  margin-top: 10px;
  float: left;
  width: 100%;
}

@media (min-width:320px) and (max-width:768px) {
  .footer-logo-block {
      margin-bottom: 25px
  }
}
/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 70%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}
/* error */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
// .field_with_errors {
//   @extend .has-error;
//   .form-control {
//     color: red;
//   }
// }
/********* profile banner part ***********/

.profile {
  width: 100%;
  padding: 100px 0 200px;
}
.profile-page {
  padding-top:50px;
}
.image-wrap img {
  width: 50%;
}
.container_form {
  display: inline-flex;
  justify-content: space-between; 
  align-items: center;  

}
.text_field{
  width: 100px;
  margin: 0 15px 0 5px;

}
.btn_search {
  margin: 0 0 0 15px;
}
