<% provide :title, t(".title") %>
<% provide :btn_text, t(".btn_submit") %>
<div class="content">
  <div class="container admin-product-container">
    <div class="row justify-content-center">
      <div class="">
        <h1><%= t ".heading" %></h1>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
