// @import 'bootstrap-sprockets';
// @import 'bootstrap';
@import url(//fonts.googleapis.com/css?family=Give+You+Glory);
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
label.required:after{
  content:" *";
  color: #f30;
}
body {
  background: rgba(252, 251, 249, 0.68);
  font-size: 16px;
  color: #4d4f56;
  font-weight: 400;
  overflow-x: hidden;
}
/* ==========================
*   Typohraphy
============================*/
a {
    color: #f30;
}

a:hover {
    text-decoration: none;
    color: #ef3b0e
}

.lead {
    font-size: 1.25rem;
    font-weight: 400;
    color: #404048;
}

ul {
    list-style-type: none;
    padding: 0;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #eaebeb;
}
/* ==========================
*   Buttons
============================*/

.form-control-lg,
.dropdown-menu,
.btn,
.btn-group-lg>.btn,
.btn-lg,
.img-rounded {
    border-radius: 2px
}

.btn {
    transition: all .4s;
}

.theme-btn-dash {
    border: 2px dashed #f30 !important;
    background-color: transparent;
    color: #f30
}
.theme-btn-dash:hover, .theme-btn, 
.btn-primary,.btn-primary:hover,
.theme-btn.btn-lg:hover, .btn-secondary:hover {
  background-color: #f30 !important ;
  color: #fff !important ;
  border: 2px solid #f30 !important ;
}
.bg-white {
  background-color: #fff
}

.primary-color {
  color: #f30
}
/* ==========================
*   Header and navigation
============================*/

#header {
  width: 100%;
  border: 0;
  z-index: 99;
}

.nav-fixed {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar {
  background-image: url("assets/menu-bg.jpg");
  padding: .95rem 1rem;
  border-radius: 0;
}

#header .dropdown-menu:hover {
  color: #9c9da5;
}

.navbar-nav .nav-item {
  padding-left: 10px;
}

.navbar-dark .navbar-toggler {
  background-image: none;
  border-color: transparent;
}

@media (max-width: 62em) {
  .navbar-nav {
      padding-top: .425rem;
      padding-left: 0.75rem;
  }
  .navbar-nav .nav-item {
      float: none;
  }
  .navbar-brand {
      float: right;
  }
  .navbar-brand,
  .navbar-nav .nav-item {
      display: block;
  }
  .navbar-nav .nav-item + .nav-item {
      margin-left: 0;
  }
  .dropdown-menu {
      position: relative;
      float: none;
      background-color: transparent;
  }
  .dropdown-menu a {
      color: #fff
  }
}

.headroom--pinned {
  display: block;
}

.headroom--unpinned {
  display: none;
}

.navbar-fixed-top {
  position: fixed
}

.navbar-toggler {
  padding: 4px 0;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  color: #f30;
  border-radius: 2px;
}
.custom-control-indicator {
  position: inherit !important;
  color: #fff;
  background-color: #f30 !important;
  padding: 10px;
  border-radius: 100%;
  margin-top: 6px;
  margin-left: 2px !important;
}
.nav-cart-count {
  margin-top: -8px;
  margin-left: -15px;
}
/* ==========================
*  Footer
============================*/

footer {
  background: url(assets/pattern.png)center repeat;
  padding: 90px 0;
  z-index: 1;
  bottom:0;
  width: 100%;
}

.payment-options ul li {
  display: inline-block;
  margin-right: 8px;
}

footer h5 {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 15px;
}

.footer-logo-block img {
  display: block;
  margin-bottom: 15px;
}

footer p,
footer,
footer span {
  font-weight: 300;
  color: #9c9da5;
}

.address h5 a {
  color: #f30;
  font-size: 26px;
  font-family: "Give You Glory", sans-serif;
  margin-left: 20px;
  font-weight: 600;
}

.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

.popular-locations ul li {
  display: inline-block;
  width: 49%;
}

footer ul li {
  margin-bottom: 6px;
}

footer ul li a {
  color: #9c9da5;
  transition: all .3s;
}

.how-it-works-links {
  margin-bottom: 70px;
}

.address p {
  margin-bottom: 35px;
}

footer ul li a:hover {
  color: #f30;
}

footer li a {
  line-height: 20px;
  display: inline-block;
}

.payment-options ul {
  margin-top: 10px;
  float: left;
  width: 100%;
}

@media (min-width:320px) and (max-width:768px) {
  .footer-logo-block {
      margin-bottom: 25px
  }
}
/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}
/* error */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
// .field_with_errors {
//   @extend .has-error;
//   .form-control {
//     color: red;
//   }
// }
/********* login, signup ***********/
.user-container {
  width: 40% !important;
}
.user-container .btn-primary {
  margin-top: 16px;
}
/********* profile banner part ***********/

.profile {
  width: 100%;
  padding: 100px 0 200px;
}
.profile-page {
  padding-top:50px;
}
.image-wrap img {
  width: 50%;
}
/* ==========================
*   Hero
============================*/

.hero {
  padding-top: 12%;
  padding-bottom: 10%;
  text-align: center;
  position: relative;
  background: url(assets/image01.jpg) center center / cover no-repeat;
}

.hero h1 {
  font-family: "Give You Glory", sans-serif;
  color: #fff;
  font-size: 3.7em;
  font-weight: 700;
}

.hero:before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(7, 6, 29, 0.37);
}

.hero .hero-inner {
  position: relative;
  z-index: 1
}


/* ==========================
*   Hero steps
============================*/

.step-item {
  display: inline-block;
  margin: 0 40px 0;
  position: relative;
}

.banner-form {
  margin-bottom: 60px;
  display: block;
  margin-top: 20px;
}

.step-item svg {
  display: inline-block;
  width: 34px;
  height: 34px;
}

.step-item img {
  display: block;
  margin: 0 auto 15px;
}

.step-item h4 {
  font-family: "Give You Glory", sans-serif;
  color: #fff;
  font-size: 21px;
}

.step-item h4 span {
  color: #f30;
}

.step1:after,
.step2:after {
  position: absolute;
  content: "";
  right: -58%;
  top: -20%;
  width: 130px;
  height: 32px;
  background: url(assets/arrow.png);
}

.step2:after {
  background: url(assets/arrow-dotted.png);
  height: 25px;
  right: -95%;
  top: -15%;
}

@media (max-width: 568px) and (min-width: 280px) {
  .step1:after,
  .step2:after {
      display: none
  }
  .hero h1 {
      font-size: 2.2em;
      padding-top: 75px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .step-item {
      margin: 0 30px 0;
  }
}
/* ==========================
*  product block
============================*/

.product {
  padding: 70px 0 90px;
  background-size: 100%;
}
.food-item-wrap {
  border: 1px solid #eaebeb;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 0 30px 0;
  background: #fafaf8;
}

.food-item-wrap h5 a {
  color: #25282b;
  font-size: 21px;
  font-weight: 600;
}

.food-item-wrap .title h3 {
  font-size: 16px;
  margin-bottom: 35px;
  color: #414551;
  line-height: 21px;
  font-weight: 300;
}

.food-item-wrap .price {
  font-size: 21px;
  font-weight: 700;
  color: #000;
  margin-top: 4px;
  display: inline-block;
}

.food-item-wrap .product-name {
  margin-bottom: 20px;
}

.food-item-wrap .content {
  padding: 25px 15px 35px;
}
.food-item-wrap .right-text {
  margin-left: 10px;
}

.food-item-wrap .right-text a {
  display: block;
}

.food-item-wrap .left {
  float: left;
  padding: 8px 15px;
}

.food-item-wrap .left img {
  padding-top: 3px;
}

.bg-image {
  background-size: cover;
}

@media (min-width: 320px) and (max-width: 568px) {
  .food-item-wrap .left {
      float: left;
      padding: 10px;
  }
  .food-item .left img {
      width: 45px
  }
  .food-item-wrap .right-text {
      font-size: 13px;
  }
}

.food-item-wrap .right {
  padding: 10px 0;
}

.food-item-wrap .right-like-part {
  border-left: 1px solid #eaebeb;
  padding: 25px 15px;
  font-size: 13px;
}

@media (min-width: 280px) and (max-width: 580px) {
  .food-item-wrap .right-like-part {
      padding: 24px 10px;
      font-size: 10px;
  }
}

.food-item-wrap .right-like-part img {
  vertical-align: middle;
  margin-right: 5px;
}

.food-item-wrap .right-text a {
  color: #25282b;
  font-weight: 400;
}

.food-item-wrap .right-text span,
.food-item-wrap .right-like-part,
.food-item-wrap .right-like-part span {
  font-weight: 300;
  color: #748796;
}

.food-item-wrap .figure-wrap {
  position: relative;
  height: 210px;
}

.food-item-wrap .food-item-wrap figure {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.food-item-wrap .food-item-wrap figure img {
  width: 100%;
}

.food-item-wrap .figure-wrap:after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  background: url(assets/zig-zag.png);
  width: 100%;
  height: 5px;
}

.food-item-wrap:hover h5>a,
.food-item-wrap:hover .right-text>a {
  color: #f30;
}

.food-item-wrap .figure-text {
  position: absolute;
  top: 0;
  padding: 13px 28px 18px 18px;
  width: 100%;
  height: 100%;
}

.food-item-wrap .figure-text .bottom {
  position: absolute;
  bottom: 25px;
  float: left;
  width: 87%;
}

.food-item-wrap .review {
  margin-top: 5px;
  font-size: 10px;
  text-transform: uppercase;
}

.food-item-wrap .distance {
  background: #f30;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  padding: 0 10px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 20px;
}

.food-item-wrap .rating i {
  color: #ffd953;
  font-size: 16px;
}

.food-item-wrap .rating .fa-star-o {
  font-size: 17px;
}

.food-item-wrap .rating {
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.food-item-wrap .review {
  right: 30px;
  position: absolute;
  bottom: 30px;
}

.food-item-wrap .review a {
  color: #fff;
}

.food-item-wrap .left-sidebar,
.food-item-wrap .right-sidebar {
  width: 300px;
}

.food-item-wrap .lf-ghost {
  width: 395px!important;
  float: left;
}

@media (min-width: 544px) and (max-width: 767px) {
  .food-item-wrap .right-text {
      margin: 5px 10px;
      font-size: 14px;
      line-height: 20px;
  }
  .food-item-wrap .right-like-part {
      width: 100%;
      padding: 5px 10px;
      background: #fff;
      border: 0;
      border-top: 1px solid #eaebeb;
      text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .food-item-wrap .restaurant-block {
      text-align: center;
  }
  .food-item-wrap .left {
      float: none
  }
  .food-item-wrap .pull-left {
      float: none
  }
  .food-item-wrap .right-text span,
  .food-item-wrap .right-like-part,
  .food-item-wrap .right-like-part span {
      width: 100%;
  }
  .right-like-part.pull-right {
      background-color: #fff;
      border: 0;
      border-top: 1px solid #eaebeb;
      padding: 10px;
  }
  .food-item-wrap .price-btn-block {
      display: flex !important;
      text-align: center;
      flex-direction: row !important;
      justify-content: space-between;
  }
  .food-item-wrap .price-btn-block .price {
      margin-bottom: 15px;
      display: block;
  }
  .food-item-wrap .price-btn-block .btn {
      float: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .food-item-wrap .left {
      padding: 10px;
      font-size: 11px;
      line-height: 20px;
  }
}

label.required:after {
  content:"*";
  color: #db4d3f;
}
.pull-right {
  margin: 10px 0 10px 0;
}
.price_detail {
  width: 50%;
  height: 60px;
}
.admin-product-container {
  width: 80% !important;
}
