<div class="sidebar">
  <ul>
    <li class="nav-item"> <%= link_to t(".home"), admin_products_path, class:"nav-link active" %> </li>
    <li class="nav-item"> <%= link_to t(".product"), admin_products_path, class:"nav-link" %> </li>
    <li class="nav-item"> <%= link_to t(".order"), admin_orders_path, class:"nav-link" %> </li>
    <li class="nav-item"> <%= link_to t(".help"), "#", class:"nav-link" %> </li>
  </ul>
</div>
